@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body {
  background-color: #e9e9e9;
  font-family: 'Righteous', cursive;
  margin: 0;
  padding: 0;
}
header {
  background-image: linear-gradient(to right, #89216b, #da4453);
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.logo {
  width: 200px;
  height: 50px;
}
.logo img {
  width: 100%;
  height: 100%;
}
.headerActions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.converter {
  width: 100px;
  height: 100px;
  margin-bottom: 40px;
}
.converter img {
  width: 100%;
  height: 100%;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.actions input {
  display: none;
}

.file-input-box {
  width: 270px;
  height: 40px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 14px;
}
.file-input-box label {
  cursor: pointer;
  background-color: #222222;
  color: #fff;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  margin-right: 10px;
}
button {
  background-color: #222222;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Righteous', cursive;
}
button img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
button:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

/*  */
section {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-code {
  margin-top: 20px;
}
.code {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.output {
  width: 45%;
  padding: 10px;
}
.input {
  width: 45%;
  padding: 10px;
}
.CodeMirror {
  height: 350px;
  padding: 10px 0px;
  font-size: 15px;
  border-radius: 10px;
}
textarea:focus {
  outline: none;
}

.output-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.output-header img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.output-header div {
  background-color: transparent;
}
.output-header img:hover {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transform: translateY(-2px);
}
.output-header h1 {
  margin-right: 20px;
}

/* mediascreen */
@media screen and (max-width: 768px) {
  section {
    width: 90%;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .code {
    flex-direction: column;
  }
  .input {
    width: 90%;
    padding: 10px;
  }
  .output {
    width: 90%;
    padding: 10px;
  }
  .CodeMirror {
    height: 350px;
    padding: 10px 0px;
    font-size: 15px;
    border-radius: 10px;
  }
}
